<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.structfund.mapper.FundSaleMapper">

  <resultMap id="BaseResultMap" type="com.newtouch.structfund.entity.FundSale">
    <id column="REGISTER_CODE" jdbcType="CHAR" property="registerCode" />
    <id column="FUND_CODE" jdbcType="VARCHAR" property="fundCode" />
    <result column="TRANSFER_TYPE" jdbcType="CHAR" property="transferType" />
    <result column="CHARGE" jdbcType="CHAR" property="charge" />
    <result column="CHECK_TYPE" jdbcType="CHAR" property="checkType" />
    <result column="DELAYED_ENTRY" jdbcType="CHAR" property="delayedEntry" />
    <result column="INVEST_TERM" jdbcType="CHAR" property="investTerm" />
    <result column="PERIOD_SUBS_FLAG" jdbcType="CHAR" property="periodSubsFlag" />
    <result column="FAIL_TIMES_PS" jdbcType="DECIMAL" property="failTimesPs" />
    <result column="SUBS_CAP_TYPE" jdbcType="CHAR" property="subsCapType" />
    <result column="PURCH_CAP_TYPE" jdbcType="CHAR" property="purchCapType" />
    <result column="FUND_LEVEL" jdbcType="CHAR" property="fundLevel" />
    <result column="MIN_BALA" jdbcType="DECIMAL" property="minBala" />
    <result column="MAX_BALA" jdbcType="DECIMAL" property="maxBala" />
    <result column="SETUP_DATE" jdbcType="DATE" property="setupDate" />
    <result column="END_DATE" jdbcType="DATE" property="endDate" />
    <result column="START_TRADE_DATE" jdbcType="DATE" property="startTradeDate" />
    <result column="FUND_SELL_DATE" jdbcType="DATE" property="fundSellDate" />
    <result column="FUND_ATTR" jdbcType="DATE" property="fundAttr" />
    <result column="FUND_TYPE" jdbcType="CHAR" property="fundType" />
    <result column="LARGE_REDE_FLAG" jdbcType="CHAR" property="largeRedeFlag" />
    <result column="INCOME_TYPE" jdbcType="CHAR" property="incomeType" />
    <result column="SALE_OBJECT" jdbcType="CHAR" property="saleObject" />
    <result column="AMT_FLAG" jdbcType="CHAR" property="amtFlag" />
    <result column="FUND_CTRL_FLAG" jdbcType="CHAR" property="fundCtrlFlag" />
    <result column="TRADE_START" jdbcType="CHAR" property="tradeStart" />
    <result column="TRADE_END" jdbcType="CHAR" property="tradeEnd" />
    <result column="UNTARGET_BALANCE" jdbcType="DECIMAL" property="untargetBalance" />
    <result column="SALE_RATE_FEE" jdbcType="DECIMAL" property="saleRateFee" />
    <result column="SUBS_START" jdbcType="CHAR" property="subsStart" />
    <result column="SUBS_END" jdbcType="CHAR" property="subsEnd" />
    <result column="PERFORM_NUM" jdbcType="VARCHAR" property="performNum" />
    <result column="MAX_RATIO" jdbcType="DECIMAL" property="maxRatio" />
    <result column="MIN_RATIO" jdbcType="DECIMAL" property="minRatio" />
    <result column="FAST_FLAG" jdbcType="CHAR" property="fastFlag" />
    <result column="OPERATOR" jdbcType="CHAR" property="operator" />
    <result column="AUTHORIZER" jdbcType="CHAR" property="authorizer" />
    <result column="REGISTER_NAME" jdbcType="VARCHAR" property="registerName" />
    <result column="FUND_NAME" jdbcType="VARCHAR" property="fundName" />
    <result column="TIMESTAMP_U" jdbcType="TIMESTAMP" property="timestampU" />
  </resultMap>

  <sql id="Base_Column_List">
    REGISTER_CODE, FUND_CODE, TRANSFER_TYPE, CHARGE, CHECK_TYPE, DELAYED_ENTRY, INVEST_TERM, 
    PERIOD_SUBS_FLAG, FAIL_TIMES_PS, SUBS_CAP_TYPE, PURCH_CAP_TYPE, FUND_LEVEL, MIN_BALA, 
    MAX_BALA, INCOME_TYPE, SALE_OBJECT, AMT_FLAG, FUND_CTRL_FLAG, TRADE_START, TRADE_END, 
    UNTARGET_BALANCE, SALE_RATE_FEE, SUBS_START, SUBS_END, PERFORM_NUM, MAX_RATIO, MIN_RATIO, 
    FAST_FLAG, OPERATOR, AUTHORIZER
  </sql>
  
  <select id="queryFundSaleInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select a.*,a.timestamp_u,b.REGISTER_NAME,c.fund_name from fund_sale a
    left join fund_reg b on a.REGISTER_CODE=b.REGISTER_CODE
    left join fund_set c on a.REGISTER_CODE=c.REGISTER_CODE and a.FUND_CODE=c.FUND_CODE
    <where>
      <if test="fundCode != '' and fundCode != null"> and a.FUND_CODE = #{fundSale.fundCode} </if>
      <if test="registerCode != '' and registerCode != null"> and a.REGISTER_CODE = #{registerCode} </if>
      <if test="ipoStartDate != '' and ipoStartDate != null"> and c.IPO_START_DATE = #{ipoStartDate} </if>
      <if test="ipoEndDate != '' and ipoEndDate != null"> and c.IPO_END_DATE = #{ipoEndDate} </if>
    </where>
    limit #{startRow},#{pageSize}
  </select>
  
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(1) from fund_sale
	<where>
      <if test="fundCode != '' and fundCode != null"> and a.FUND_CODE = #{fundSale.fundCode} </if>
      <if test="registerCode != '' and registerCode != null"> and a.REGISTER_CODE = #{registerCode} </if>
      <if test="ipoStartDate != '' and ipoStartDate != null"> and c.IPO_START_DATE = #{ipoStartDate} </if>
      <if test="ipoEndDate != '' and ipoEndDate != null"> and c.IPO_END_DATE = #{ipoEndDate} </if>
    </where>
  </select>
  
  <insert id="insertSelective" parameterType="com.newtouch.structfund.entity.FundSale">
    insert into FUND_SALE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="registerCode != null">
        REGISTER_CODE,
      </if>
      <if test="fundCode != null">
        FUND_CODE,
      </if>
      <if test="transferType != null">
        TRANSFER_TYPE,
      </if>
      <if test="charge != null">
        CHARGE,
      </if>
      <if test="checkType != null">
        CHECK_TYPE,
      </if>
      <if test="delayedEntry != null">
        DELAYED_ENTRY,
      </if>
      <if test="investTerm != null">
        INVEST_TERM,
      </if>
      <if test="periodSubsFlag != null">
        PERIOD_SUBS_FLAG,
      </if>
      <if test="failTimesPs != null">
        FAIL_TIMES_PS,
      </if>
      <if test="subsCapType != null">
        SUBS_CAP_TYPE,
      </if>
      <if test="purchCapType != null">
        PURCH_CAP_TYPE,
      </if>
      <if test="fundLevel != null">
        FUND_LEVEL,
      </if>
      <if test="minBala != null">
        MIN_BALA,
      </if>
      <if test="maxBala != null">
        MAX_BALA,
      </if>
      <if test="incomeType != null">
        INCOME_TYPE,
      </if>
      <if test="saleObject != null">
        SALE_OBJECT,
      </if>
      <if test="amtFlag != null">
        AMT_FLAG,
      </if>
      <if test="fundCtrlFlag != null">
        FUND_CTRL_FLAG,
      </if>
      <if test="tradeStart != null">
        TRADE_START,
      </if>
      <if test="tradeEnd != null">
        TRADE_END,
      </if>
      <if test="untargetBalance != null">
        UNTARGET_BALANCE,
      </if>
      <if test="saleRateFee != null">
        SALE_RATE_FEE,
      </if>
      <if test="subsStart != null">
        SUBS_START,
      </if>
      <if test="subsEnd != null">
        SUBS_END,
      </if>
      <if test="performNum != null">
        PERFORM_NUM,
      </if>
      <if test="maxRatio != null">
        MAX_RATIO,
      </if>
      <if test="minRatio != null">
        MIN_RATIO,
      </if>
      <if test="fastFlag != null">
        FAST_FLAG,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="authorizer != null">
        AUTHORIZER,
      </if>
      <if test="setupDate != null">
        SETUP_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="startTradeDate != null">
        START_TRADE_DATE,
      </if>
      <if test="fundSellDate != null">
        FUND_SELL_DATE,
      </if>
      <if test="fundAttr != null">
        FUND_ATTR,
      </if>
      <if test="fundType != null">
        FUND_TYPE,
      </if>
      <if test="largeRedeFlag != null">
        LARGE_REDE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="registerCode != null">
        #{registerCode,jdbcType=CHAR},
      </if>
      <if test="fundCode != null">
        #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="transferType != null">
        #{transferType,jdbcType=CHAR},
      </if>
      <if test="charge != null">
        #{charge,jdbcType=CHAR},
      </if>
      <if test="checkType != null">
        #{checkType,jdbcType=CHAR},
      </if>
      <if test="delayedEntry != null">
        #{delayedEntry,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        #{investTerm,jdbcType=CHAR},
      </if>
      <if test="periodSubsFlag != null">
        #{periodSubsFlag,jdbcType=CHAR},
      </if>
      <if test="failTimesPs != null">
        #{failTimesPs,jdbcType=DECIMAL},
      </if>
      <if test="subsCapType != null">
        #{subsCapType,jdbcType=CHAR},
      </if>
      <if test="purchCapType != null">
        #{purchCapType,jdbcType=CHAR},
      </if>
      <if test="fundLevel != null">
        #{fundLevel,jdbcType=CHAR},
      </if>
      <if test="minBala != null">
        #{minBala,jdbcType=DECIMAL},
      </if>
      <if test="maxBala != null">
        #{maxBala,jdbcType=DECIMAL},
      </if>
      <if test="incomeType != null">
        #{incomeType,jdbcType=CHAR},
      </if>
      <if test="saleObject != null">
        #{saleObject,jdbcType=CHAR},
      </if>
      <if test="amtFlag != null">
        #{amtFlag,jdbcType=CHAR},
      </if>
      <if test="fundCtrlFlag != null">
        #{fundCtrlFlag,jdbcType=CHAR},
      </if>
      <if test="tradeStart != null">
        #{tradeStart,jdbcType=CHAR},
      </if>
      <if test="tradeEnd != null">
        #{tradeEnd,jdbcType=CHAR},
      </if>
      <if test="untargetBalance != null">
        #{untargetBalance,jdbcType=DECIMAL},
      </if>
      <if test="saleRateFee != null">
        #{saleRateFee,jdbcType=DECIMAL},
      </if>
      <if test="subsStart != null">
        #{subsStart,jdbcType=CHAR},
      </if>
      <if test="subsEnd != null">
        #{subsEnd,jdbcType=CHAR},
      </if>
      <if test="performNum != null">
        #{performNum,jdbcType=VARCHAR},
      </if>
      <if test="maxRatio != null">
        #{maxRatio,jdbcType=DECIMAL},
      </if>
      <if test="minRatio != null">
        #{minRatio,jdbcType=DECIMAL},
      </if>
      <if test="fastFlag != null">
        #{fastFlag,jdbcType=CHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=CHAR},
      </if>
      <if test="authorizer != null">
        #{authorizer,jdbcType=CHAR},
      </if>
      <if test="setupDate != null">
        #{setupDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="startTradeDate != null">
        #{startTradeDate,jdbcType=DATE},
      </if>
      <if test="fundSellDate != null">
        #{fundSellDate,jdbcType=DATE},
      </if>
      <if test="fundAttr != null">
        #{fundAttr,jdbcType=CHAR},
      </if>
      <if test="fundType != null">
        #{fundType,jdbcType=CHAR},
      </if>
      <if test="largeRedeFlag != null">
        #{largeRedeFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.newtouch.structfund.entity.FundSale">
    update FUND_SALE
    <set>
      <if test="transferType != null">
        TRANSFER_TYPE = #{transferType,jdbcType=CHAR},
      </if>
      <if test="charge != null">
        CHARGE = #{charge,jdbcType=CHAR},
      </if>
      <if test="checkType != null">
        CHECK_TYPE = #{checkType,jdbcType=CHAR},
      </if>
      <if test="delayedEntry != null">
        DELAYED_ENTRY = #{delayedEntry,jdbcType=CHAR},
      </if>
      <if test="investTerm != null">
        INVEST_TERM = #{investTerm,jdbcType=CHAR},
      </if>
      <if test="periodSubsFlag != null">
        PERIOD_SUBS_FLAG = #{periodSubsFlag,jdbcType=CHAR},
      </if>
      <if test="failTimesPs != null">
        FAIL_TIMES_PS = #{failTimesPs,jdbcType=DECIMAL},
      </if>
      <if test="subsCapType != null">
        SUBS_CAP_TYPE = #{subsCapType,jdbcType=CHAR},
      </if>
      <if test="purchCapType != null">
        PURCH_CAP_TYPE = #{purchCapType,jdbcType=CHAR},
      </if>
      <if test="fundLevel != null">
        FUND_LEVEL = #{fundLevel,jdbcType=CHAR},
      </if>
      <if test="minBala != null">
        MIN_BALA = #{minBala,jdbcType=DECIMAL},
      </if>
      <if test="maxBala != null">
        MAX_BALA = #{maxBala,jdbcType=DECIMAL},
      </if>
      <if test="setupDate != null">
        SETUP_DATE = #{setupDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="startTradeDate != null">
        START_TRADE_DATE = #{startTradeDate,jdbcType=DATE},
      </if>
      <if test="fundSellDate != null">
        FUND_SELL_DATE = #{fundSellDate,jdbcType=DATE},
      </if>
      <if test="fundAttr != null">
        FUND_ATTR = #{fundAttr,jdbcType=DATE},
      </if>
      <if test="fundType != null">
        FUND_TYPE = #{fundType,jdbcType=DATE},
      </if>
      <if test="largeRedeFlag != null">
        LARGE_REDE_FLAG = #{largeRedeFlag,jdbcType=DATE},
      </if>
      <if test="incomeType != null">
        INCOME_TYPE = #{incomeType,jdbcType=CHAR},
      </if>
      <if test="saleObject != null">
        SALE_OBJECT = #{saleObject,jdbcType=CHAR},
      </if>
      <if test="amtFlag != null">
        AMT_FLAG = #{amtFlag,jdbcType=CHAR},
      </if>
      <if test="fundCtrlFlag != null">
        FUND_CTRL_FLAG = #{fundCtrlFlag,jdbcType=CHAR},
      </if>
      <if test="tradeStart != null">
        TRADE_START = #{tradeStart,jdbcType=CHAR},
      </if>
      <if test="tradeEnd != null">
        TRADE_END = #{tradeEnd,jdbcType=CHAR},
      </if>
      <if test="untargetBalance != null">
        UNTARGET_BALANCE = #{untargetBalance,jdbcType=DECIMAL},
      </if>
      <if test="saleRateFee != null">
        SALE_RATE_FEE = #{saleRateFee,jdbcType=DECIMAL},
      </if>
      <if test="subsStart != null">
        SUBS_START = #{subsStart,jdbcType=CHAR},
      </if>
      <if test="subsEnd != null">
        SUBS_END = #{subsEnd,jdbcType=CHAR},
      </if>
      <if test="performNum != null">
        PERFORM_NUM = #{performNum,jdbcType=VARCHAR},
      </if>
      <if test="maxRatio != null">
        MAX_RATIO = #{maxRatio,jdbcType=DECIMAL},
      </if>
      <if test="minRatio != null">
        MIN_RATIO = #{minRatio,jdbcType=DECIMAL},
      </if>
      <if test="fastFlag != null">
        FAST_FLAG = #{fastFlag,jdbcType=CHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=CHAR},
      </if>
      <if test="authorizer != null">
        AUTHORIZER = #{authorizer,jdbcType=CHAR},
      </if>
    </set>
    where REGISTER_CODE = #{registerCode,jdbcType=CHAR}
      and FUND_CODE = #{fundCode,jdbcType=VARCHAR}
  </update>
  
  
  <delete id="deleteFundSale" parameterType="java.util.List">
    delete from fund_sale where 
    <foreach collection="list" item="item" separator=" or " index="index">
      (register_code=#{item.registerCode} and fund_code=#{item.fundCode})
    </foreach>
  </delete>

</mapper> 