<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.structfund.mapper.FundRegMapper">
	<resultMap type="com.newtouch.structfund.entity.FundReg" id="resultMap">
	 	<result column="registerCode" property="registerCode" jdbcType="VARCHAR"/>
	 	<result column="registerName" property="registerName" jdbcType="VARCHAR"/>
		<result column="assignFlag" property="assignFlag" jdbcType="VARCHAR"/>
		<result column="forceOpen" property="forceOpen" jdbcType="VARCHAR"/>
		<result column="indiOpenCerttype" property="indiOpenCerttype" jdbcType="VARCHAR"/>
		<result column="instOpenCerttype" property="instOpenCerttype" jdbcType="VARCHAR"/>
		<result column="minnorTrade" property="minnorTrade" jdbcType="VARCHAR"/>
		<result column="addr" property="addr" jdbcType="VARCHAR"/>
		<result column="postCode" property="postCode" jdbcType="VARCHAR"/>
		<result column="tel" property="tel" jdbcType="VARCHAR"/>
		<result column="fax" property="fax" jdbcType="VARCHAR"/>
		<result column="linkMan" property="linkMan" jdbcType="VARCHAR"/>
		<result column="foundDate" property="foundDate" jdbcType="VARCHAR"/>
		<result column="flag" property="flag" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="operator" property="operator" jdbcType="VARCHAR"/>
		<result column="authorizer" property="authorizer" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="listAll" parameterType="com.newtouch.structfund.entity.FundReg" resultType="com.newtouch.structfund.entity.FundReg">
		select * from fund_reg
	</select>
</mapper>
