<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.structfund.mapper.FundCusttypeMapper">
	<resultMap type="com.newtouch.structfund.entity.FundCusttype" id="resultMap">
	 	<id column="REGISTER_CODE" property="registerCode" jdbcType="VARCHAR"/>
	 	<id column="FUND_CODE" property="fundCode" jdbcType="VARCHAR"/>
		<id column="CUST_TYPE" property="custType" jdbcType="VARCHAR"/>
		<result column="TIMESTAMP_C" property="timestampC" jdbcType="TIMESTAMP"/>
		<result column="TIMESTAMP_U" property="timestampU" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="listAll" parameterType="com.newtouch.structfund.entity.FundCusttype" resultMap="resultMap">
		select * from fund_custtype
	</select>

	<select id="listTypeByReCodeAndFuCode"  resultType="string">
		select
		CUST_TYPE
		from fund_custtype
		where REGISTER_CODE= #{registerCode} and FUND_CODE=#{fundCode}
	</select>

	<insert id="insert" >
		insert into
		FUND_CUSTTYPE
		(REGISTER_CODE,FUND_CODE,CUST_TYPE)
		values
		<foreach collection="toAdd" item="item" open="" close="" separator=",">
			(#{registerCode},#{fundCode},#{item})
		</foreach>
	</insert>

	<delete id="delete">
		delete from FUND_CUSTTYPE where
		<foreach collection="toDelete" item="item" open="(" separator="or" close=")">
			REGISTER_CODE=#{registerCode} and FUND_CODE=#{fundCode} and CUST_TYPE=#{item}
		</foreach>
	</delete>
	<delete id="deleteAll">
		delete from FUND_CUSTTYPE where

			REGISTER_CODE=#{registerCode} and FUND_CODE=#{fundCode}

	</delete>

</mapper>
