<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.structfund.mapper.FundLotMapper">
	<resultMap type="com.newtouch.structfund.entity.FundLot" id="BaseResultMap">

		<result column="REGISTER_CODE" property="registerCode" jdbcType="VARCHAR"/>
	 	<result column="FUND_CODE" property="fundCode" jdbcType="VARCHAR"/>
		<result column="LOT_CODE" property="lotCode" jdbcType="VARCHAR"/>
		<result column="LOT_TYPE" property="lotType" jdbcType="VARCHAR"/>
		<result column="START_TIME" property="startTime" jdbcType="VARCHAR"/>
		<result column="FUND_NAME" property="fundName" jdbcType="VARCHAR"/>
		<result column="LOT_STATUS" property="lotStatus" jdbcType="VARCHAR"/>
		<result column="OPERATOR" property="operator" jdbcType="VARCHAR"/>
		<result column="AUTHORIZER" property="authorizer" jdbcType="VARCHAR"/>
		<result column="REGISTER_NAME" jdbcType="VARCHAR" property="registerName" />
	</resultMap>

	<select id="queryFundLot" parameterType="java.util.Map" resultMap="BaseResultMap">
		select t1.REGISTER_CODE, t1.FUND_CODE, t1.LOT_CODE, t1.LOT_TYPE, t1.START_TIME, t1.LOT_STATUS,
		t1.OPERATOR, t1.AUTHORIZER, t2.REGISTER_NAME,t3.FUND_NAME
		from fund_lot t1 left join fund_reg t2 on t1.register_code=t2.register_code
		left join fund_set t3 on t1.fund_code=t3.fund_code and t1.register_code=t3.register_code where 1=1
		<if test="fundLot.registerCode!=null and fundLot.registerCode!=''">
			and t1.register_code=#{fundLot.registerCode}
		</if>
		<if test="fundLot.fundCode !=null and fundLot.fundCode!=''">
			and t1.fund_code=#{fundLot.fundCode}
		</if>
	    order by register_code,fund_code
	    limit #{startRow},#{pageSize}
	</select>

	<select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from fund_lot where 1=1
		<if test="fundLot.registerCode!=null and fundLot.registerCode!=''">
			and register_code=#{fundLot.registerCode}
		</if>
		<if test="fundLot.fundCode!=null and fundLot.fundCode!=''">
			and fund_code=#{fundLot.fundCode}
		</if>
	</select>

	<select id="selectSingleData" parameterType="com.newtouch.structfund.entity.FundLot" resultMap="BaseResultMap">
		select 1 from fund_lot where register_code=#{registerCode}
		and fund_code=#{fundCode} and lot_code=#{lotCode}
	</select>

	<delete id="delete" parameterType="java.util.List">
		delete from fund_lot where
		<foreach collection="list" item="item" index="index" separator="or">
			(register_code=#{item.registerCode}
			and fund_code=#{item.fundCode}
			and lot_code=#{item.lotCode})
		</foreach>
	</delete>
	
	<insert id="insertSelective" parameterType="com.newtouch.structfund.entity.FundLot">
		insert into FUND_LOT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="registerCode != null">
				REGISTER_CODE,
			</if>
			<if test="fundCode != null">
				FUND_CODE,
			</if>
			<if test="lotCode != null">
				LOT_CODE,
			</if>
			<if test="lotType != null">
				LOT_TYPE,
			</if>
			<if test="startTime != null">
				START_TIME,
			</if>
			<if test="fundName != null">
				FUND_NAME,
			</if>
			<if test="lotStatus != null">
				LOT_STATUS,
			</if>
			<if test="operator != null">
				OPERATOR,
			</if>
			<if test="authorizer != null">
				AUTHORIZER,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="registerCode != null">
				#{registerCode,jdbcType=CHAR},
			</if>
			<if test="fundCode != null">
				#{fundCode,jdbcType=VARCHAR},
			</if>
			<if test="lotCode != null">
				#{lotCode,jdbcType=CHAR},
			</if>
			<if test="lotType != null">
				#{lotType,jdbcType=CHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=CHAR},
			</if>
			<if test="fundName != null">
				#{fundName,jdbcType=VARCHAR},
			</if>
			<if test="lotStatus != null">
				#{lotStatus,jdbcType=CHAR},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=CHAR},
			</if>
			<if test="authorizer != null">
				#{authorizer,jdbcType=CHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.newtouch.structfund.entity.FundLot">
        update fund_lot set start_time=#{startTime},lot_type=#{lotType}
  		where register_code=#{registerCode}
  		and fund_code=#{fundCode}
  		and lot_code=#{lotCode}
	</update>
</mapper>
