<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.structfund.mapper.RegFundQueryMapper">

    <resultMap id="BaseResultMap" type="com.newtouch.structfund.entity.RegFundVo">
        <result column="REGISTER_CODE" jdbcType="CHAR" property="registerCode" />
        <result column="REGISTER_NAME" jdbcType="VARCHAR" property="registerName" />
        <result column="FUND_CODE" jdbcType="VARCHAR" property="fundCode" />
    </resultMap>

    <select id="getRegList"  resultMap="BaseResultMap">
       select
        distinct REGISTER_CODE, REGISTER_NAME
       from fund_reg

    </select>

    <select id="getFundList"  resultMap="BaseResultMap">
        select
        distinct FUND_CODE
        from fund_reg
        where REGISTER_CODE=#{param}
    </select>


</mapper>
